.articlePreview {
  margin: 26px auto;
  padding: 15px 14px 24px 16px;
  width: 938px;
  height: 140px;
  background-color: var(--background-color-base);
  filter: var(--shadow-2);
  display: grid;
  grid-template-columns: auto max-content 46px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;

  .mainInfo {
    margin-right: 85px;

    .header {
      display: grid;
      grid-template-columns: max-content auto;
      margin-bottom: 4px;
      height: 28px;
    }

    .tags {
      display: flex;
      align-items: start;
      overflow-x: auto;
      max-width: 350px;
      column-gap: 8px;
      margin-bottom: 4px;
      padding-bottom: 8px;
      scrollbar-width: thin;
      scroll-behavior: smooth;
      scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    }

    .tag {
      padding: 2px 6px 3px 5px;
      color: var(--text-color);
      cursor: pointer;
      line-height: 15px;
      border: 1px solid var(--text-color);
      border-radius: 2px;
      white-space: nowrap;
    }

    .descriptionText {
      font-family: "Inter";
      color: var(--text-color);
      overflow: hidden;
    }

    .someTag {
      padding: 2px 6px 3px 5px;
      color: var(--text-color-secondary);
      font-size: 12px;
      line-height: 15px;
      border: var(--border);
      border-radius: 2px;
    }
  }
}

