.serverErrorMessageBlock {
  margin: 0 auto 8px;
  text-align: center;

  ul {
    color: var(--highlight-color);
 
    li {
      margin-bottom: 4px;

      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.generalServerError {
  color: var(--highlight-color);

  &::first-letter {
    text-transform: capitalize;
  }
}
