@use "../../../app/styles/variables" as *;

.header {
    display: flex;
    align-items: center;
    margin-bottom: 4px;

    .title {
        margin-right: 13px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $info-color;
      }
    
      .btnLike {
        margin-right: 6px;
      }
  }