@use "../../../app/styles/variables" as *;

.title {
  margin-right: 13px;
  overflow: hidden;
  white-space: nowrap;
  color: $info-color;
  font-weight: 400;
  font-size: 20px;
}

.fullTitle {
  color: $info-color;
  overflow: hidden;
  font-weight: 400;
}

.btnsLikeContainer {
  display: flex;
  align-self: center;
  color: $text-color;
  font-size: 12px;

  .btnLike {
    margin-right: 6px;
  }
}