@use "../../../app/styles/variables" as *;

.fullArticle {
  margin: 26px auto;
  padding: 15px 14px 24px 16px;
  width: 938px;
  height: 83vh;
  background-color: $background-color-base;
  filter: $shadow-2;
  font-weight: 400;
  font-size: 12px;

  .topPart {
    display: grid;
    grid-template-columns: auto max-content 46px;
    margin-bottom: 25px;
  }
}
