@use "../../../../app/styles/variables" as *;

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.signIn {
  padding-right: 26px;
  color: $heading-color;
}

.signUp {
  padding: 6px 18px 10px;
  border: 1px solid $success-color;
  border-radius: 5px;
  font-style: normal;
  color: $success-color;
}
