.headerAuthorized {
  display: flex;
  column-gap: 27px;
  align-items: center;
  justify-content: end;
}

.createArticle {
  border: 1px solid var(--success-color);
  border-radius: 5px;
  padding: 6px 10px 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--success-color);
}

.profile {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.userName {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  align-items: center;
  color: var(--heading-color);
  text-transform: capitalize;
}

.userImage {
  width: 46px;
  height: 46px;
}

.logOutBtn {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 6px 18px 10px;
  color: var(--text-color);
  cursor: pointer;
}
